body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    width: 400px;
    border-radius: 10px;
}

ol {
    width: fit-content;
    margin: 20px auto;
    padding: 10px;
    border-radius: 8px;
}

ol li {
    font-size: 18px;
    padding: 5px 10px;
    text-align: left;
}

script {
    font-size: 20px;
    text-align: center;
}

p {
    color: darkblue;
}